node_modules
moleculeToAtoms
.DS_Store
advent-of-code 2020/day-10/task-2*
advent-of-code 2020/day-13/task-2.js
advent-of-code 2020/day-19/*
advent-of-code 2020/day-24/task-2.js
advent-of-code/2022/day-11/task-2.ts
advent-of-code/2022/day-12/*
advent-of-code/2022/day-16/*
advent-of-code/2022/day-18/task-2.ts
advent-of-code/2022/day-19/*
advent-of-code/2022/day-21/task-2.ts
advent-of-code/2022/day-24/*